[Unit]

Description=Gunicorn Daemon for FastAPI

After=network.target


[Service]

User=data

Group=www-data

WorkingDirectory=/home/data/PostOwlML

ExecStart=/home/data/PostOwlML/venv/bin/gunicorn -c gunicorn_conf.py app:app


[Install]

WantedBy=multi-user.target