[Unit]

Description=Gunicorn Daemon for FastAPI

After=network.target


[Service]

User=data

Group=www-data

WorkingDirectory=/home/data/PostOwlML

ExecStart=sudo /home/data/PostOwlML/venv/bin/python -m uvicorn app:app --port 8000


[Install]

WantedBy=multi-user.target